/* Container Styles */
.container {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f9fc;

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}


/* Header Styles */
.header {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .h1 {
        color: #ecf0f1;
        margin: 0;
        padding-bottom: 8px;
    }

    .arrowbackicon {
        font-size: 30px;
        color: #ecf0f1;
        cursor: pointer;
        margin: 0 10px;
    }

    .menuicon {
        font-size: 30px;
        color: #ecf0f1;
        cursor: pointer;
        margin: 0 10px;
    }
}

/* Body Styles */
.body {
    background-color: #ecf0f1;
    color: #34495e;
    padding: 20px;
}